@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


nav{
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 1000;
}

main{
    margin-top: 10vh;
    color: antiquewhite;
    
}

.logo{
    height: 9vh;
    position: absolute;
    margin-left: 10vw;
}

.nav-list{
    height: 10vh;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    list-style: none;
    
    
}


.nav-links{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 2.2vh;
    font-weight: 500;
}

.nav-links::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color:rgb(70 128 194 / 90%);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}


.nav-links:hover::before{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.home,.about, .contact{
    height: 106vh;
    position: absolute;
    width: 100%;
}


.home{
    background-color: #e71837;
}

.about{
    background-color: #e71837;
}

.contact{
    background-color: #e71837;
}

.home-content,.about-content,.contact-content{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    h1{
        font-size: 6vh;
        margin: 30px 0px;
    }
    p{
        font-size: 3.2vh;
    }
}

.home-content{
    border-bottom: silver 0.5vh solid;
}




.home-presentation{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.home-brand-shell{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
    // background-color:  #722f37 ;
    background-color: #cc8400 ;
    border-bottom: silver 0.5vh solid;

}

.home-brand-shell-content{

    left: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        text-align: center;
        font-size: 5vh;
        top: 0;
    }
    p{
        text-align: left;
        width: 50%;
        margin-top: 10vh;
        font-size: 3vh;
    }

    img{
        width: 50%;
        height: 10%;
        margin-top: 15vh;
    }
}


.home-products{
    left: auto;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color:  rgb(70 128 194 / 90%)  ;
    border-bottom: silver 1px solid;


}

.faixa-01{
    padding-top: 5vh;
    width: 100%;
    display: flex;
    height: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    left: auto;
}

.faixa-02{

    width: 100%;
    display: flex;
    height: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    left: auto;
}


.box{
    transition: 0.5s ease-in-out;
    width: 100vh;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    

    img{
        padding-top: 10%;
        width: 100%;
        height: 90%;
        object-fit: contain;

    }

    h2{
        text-align: center;
        width: 90%;
        height: 5%;
        font-size: 2vh;
        
    }

}



.box:hover{
    background-color:rgb(70 128 194 / 90%);
    transition: 0.5s ease-in-out;
    
}




.brand{
    position: absolute;
    margin-top: 35vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    background-color: #fff;
    height: 30vh;
    border-radius: 20px;
}

.brand-logo{
    width:20vh;
    height: 30vh;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}



.whatsapp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(98 199 26 / 1);
    width: 8vh;
    height: 8vh;
    position: fixed;
    top: 85vh;
    right: 5vw;
    margin-bottom: 15vh;
    border-radius: 100%;
    transition: all ease-in-out 0.3s;
    svg{
        width: 5vw;
        height: 5vh;
    }
}

.whatsapp:hover{

    background-color: #24943a;
    transition: all ease-in-out 0.3s;
}

.footer-content{
    height: 6vh;
    width: 100%;
    background-color: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-left: auto;

}

#ecommerce{
    font-weight: bold;
    background-color: red;
    color: #fff;
    border-radius: 1.2vh;
    padding: 1.1vh;
    
}


//Estilização da página Contato





.contact-presentation{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}


.box-contact{
    width: 65%;
    padding: 3vh;
    margin-top: 5vh;
    height: 37vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5vh;
    border: 1px solid #fff;
}


.mapa{
    border-radius: 5vh;
    height: 80%;
    width: 60%;

}

.h1-contact{
    text-align: center;
    font-size: 3vw;
}

.faixa-contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-map, .icon-phone{
    padding-right: 5px;
    align-self: center;
}


//Estilização da página Sobre


.stock{
    width: 100vh;
    height: 100%;
    padding-top: 5vh;
}


.about-presentation{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        width: 80%;
    }
}

.mural{
    width: 100%;
    height: 100vh;
    background-color: rgb(70 128 194 / 90%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(70 128 194 / 90%);
    width: 90%;
    height: 30vh;
    border: 1px solid #fff;
    margin-top: 1.8vh;
    h2{
        text-align: center;
        font-size: 4vh;
    }

    li,p{
        font-size: 2vh;
        width: 100%;
        padding-top: 1vh;
    
    }
    p{
        padding-left: 10%;
        vertical-align: middle;
    }

    ul{
        height: 100%;
    }
}

.visao p{
    padding-top: 1vh;
}