.stock{
  width: 80%;
  height: 60%;
  padding-top: 5%;
}

.about-presentation{
  margin-top: 4%;
  width: 100vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p{
      width: 80%;
  }
}

.mural{
  width: 100%;
  height: 100vh;
  background-color: rgb(70 128 194 / 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box-about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(70 128 194 / 100%);
  width: 90%;
  height: 30vh;
  border: 1px solid #fff;
  margin-top: 1.8vh;
  
  h2{
      text-align: center;
      font-size: 4vh;
  }

  li,p{
      font-size: 2vh;
      width: 100%;
      padding-top: 1vh;
  
  }
  p{
      padding-left: 10%;
      vertical-align: middle;
  }

  ul{
      height: 100%;
  }
}

.visao p{
  padding-top: 1vh;
}

@media screen and (max-width: 591px) {
  .about-presentation {
    text-align: center;
  }
  .mural {
    height: auto;
    padding: 20px;
    .box-about {
      height: auto;

      p {
        text-align: center;
        padding: 15px;
      }
    }

    .box-about.valores {
      padding: 15px;
      li {
        list-style-position: inside;
      }
    }
  }
}