.stock{
  width: 80%;
  height: 60%;
  padding-top: 5%;
}

.about-presentation{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  h1{
    font-size: 2.25em;
    margin: 30px 0px;
  }
  p{
      width: 80%;
      font-size: 1.5em
  }
  
}

.mural{
  width: 100%;
  height: 100vh;
  background-color: #538ac9;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.box-about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(70 128 194 / 100%);
  width: 30%;
  height: 60%;
  // border: 1px solid #fff;
  margin-top: 5%;
  border-radius: 50%;
  
  h2{
      text-align: center;
      font-size: 4.5vh;
      margin-top: 5%;
  }

  ul >li,p{
      font-size: 2.4vh;
      width: 100%;
      padding-top: 1vh;
  
  }
  p{
      padding-left: 10%;
      vertical-align: middle;
  }

  ul{
      margin-top: 10%;
      height: 100%;
  }
}

.visao p{
  padding-top: 1vh;
}

.missao p{
  padding-top: 10%;
}

@media screen and (max-width: 591px) {
  .about-presentation {
    text-align: center;
    h3{
      font-size: 15px;
    }

    p{
      font-size: 1em;
    }
  }
  .mural {
    height: auto;
    flex-direction: column;
    padding: 20px;
    .box-about {
      height: auto;
      width: 100%;
      p {
        text-align: center;
        padding: 15px;
      }
    }

    .box-about.valores {
      padding: 15px;
      li {
        list-style-position: inside;
      }
    }
  }
}