.contact-presentation{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; 
}

.box-contact{
  width: 65%;
  height: 37vh;
  display: flex;
  margin-top: 5vh;
  flex-direction: column;
  justify-content: center;
  border-radius: 5vh;
  border: 1px solid #fff;
  
  .text-wrapper {
    padding: 3vh;
    display: flex;
    flex-direction: column;
  }
}

.box-contact:first-child {
  margin-top: 0;
}

.mapa{
  border-radius: 0 0 5vh 5vh;
  height: 80%;
  width: 100%;
}

.h1-contact{
  text-align: center;
  font-size: 3vw;
}

.faixa-contact{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-map, .icon-phone{
  padding-right: 5px;
  align-self: center;
}

@media screen and (max-width: 591px) {
  .faixa-contact {
    padding: 0 15px;
    .box-contact {
      width: auto;
      max-width: 500px;
      height: auto;
  
      p {
        display: flex;
        align-items: center;
        margin: 5px;
      }

    }
  }
}