.portfolio-box{
    width: 100%;
    // background: #fff;
    height: 100%;
}

.portfolio-content{
    width: 100%;
    // background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-evenly;

    h1{
        text-align: center;
        font-size: 6vh;
        margin: 30px 0px;
    }
    p{
        font-size: 3.2vh;
    }

}



.portfolio-images{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.port-image{
    width: 80%;
}

.download-portfolio,.download-portfolio:visited,.download-portfolio:link, .download-portfolio:hover,.download-portfolio:active {
    margin-top: 5vh;
    width: 14vw;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #fff;
    position:fixed;
    right: 1vw;
    background-color: #e71837;
    color: #fff;
    font-weight: bold;
    border-radius: 1vw;
    padding: 1vw;
    text-decoration: none;
    display: flex;
    justify-content: space-around;


}
